// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$primary: #e2001a; // Thats a sample how you could change a BootStrap variable.
$venetian-red: #bd0926;
$white: #ffffff;
$nero : #212121;
$ghost-white: #f7f7f9;
$suvaGrey: #909090;
$eclipse: #3b3b3b;
$whisper: #eaeaea;

//Fonts
$lato: 	'Lato', sans-serif;
$fa:	'FontAwesome', sans-serif;

// Breakpoints (reflection of bootstrap)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;