// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    font-family: $lato;
    background: $ghost-white;
}

.site-main {
    width: 100%;
}

.overlay-black {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .25));

    ::-webkit-full-page-media,
    _:future,
    :root .safari_only {
        background: rgba($black, .25);
    }
}

.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;

    &.header-1600 {
        display: flex;
        align-items: center;
        max-height: 85px;
        width: 100%;

        @include media-breakpoint-down (lg) {
            flex-direction: row;
        }

        @include media-breakpoint-down (md) {
            flex-direction: row;
            position: absolute;
            left: 0;
        }
    }
}

.container-1200 {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


div.wpcf7-mail-sent-ok {
    display: none;
}

.visible-overflow {
    overflow: visible;
}

.accept-cookie {
    font-size: 14px;
    text-transform: uppercase;
    background: $white;
    text-decoration: none;
    font-weight: $font-weight-bold;
    transition: all .3s ease;
    padding: .15em .5em;
    border-radius: 5px;

    &:hover {
        color: $white;
        background-color: $primary;
        text-decoration: none;
    }

}

.page-title {
    margin: 3em 0 3em;

    .red-title {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        font-style: italic;
        color: $primary;
    }
}