.error404 {

    #error-404-wrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        background-image: url('../assets/images/404-bg-image.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        overflow: hidden;

        .content-area {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h1 {
                font-size: 3rem;
                margin: 0;
                @include media-breakpoint-down (sm){
                	font-size: 2.5rem;
                }

                &.black-title {
                    font-weight: $font-weight-bold;
                }

                &.red-error {
                    font-style: italic;
                    font-weight: $font-weight-bold;
                    font-size: 16rem;
                    color: $primary;
                    margin-top: -30px;
                    @include media-breakpoint-down (sm){
                	font-size: 12rem;
                }
                }

                &.text-title {
                    text-transform: uppercase;
                    font-size: 3rem;
                    margin-top: -20px;
                    margin-bottom: .75em;
                    @include media-breakpoint-down (sm){
                	font-size: 2.2rem;
                }
                }
            }

            .cta-link {
                color: $white;
                background: $primary;
                text-transform: uppercase;
                font-weight: $font-weight-regular;
                padding: .75em 3em;
                letter-spacing: 1px;
                border-radius: 15px;
                text-decoration: none;
                font-size: 12px;
                box-shadow: 0 0 15px 2px rgba($nero, 0.35);
            }
            .end-text{
            	margin-top: 3em;
            	text-transform: uppercase;
            	display: flex;
            	flex-direction: row;
            	padding-left: 10px;
            	font-size: 1.25rem;
            	color: $primary;
            	.black{
            		color: $nero;
            		padding-right: 5px;
            	}
            	@include media-breakpoint-down (sm){
                	font-size: 1rem;
                }
            }

        }
    }
}