.page-template-about-us,
.page-template-facilities,
.page-template-tabs-page, {
    display: block;

    .page-title {
        margin: 3em 0 0;

        .red-title {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: $font-weight-regular;
            font-style: italic;
            color: $primary;
        }
    }

    .nav-tabs {
        border: 0;
        margin-bottom: 2em;

        li {

            a,
            a.active {
                border: 0;
                background: transparent;
            }

            text-transform: uppercase;
            font-weight: $font-weight-bold;
            color: $nero;
            font-style: italic;

            a {
                color: $suvaGrey;

                &.active {
                    color: $primary;
                }
            }
        }
    }

    .tab-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .title {
            margin: 2em 1em 5em;
            flex-direction: column;
            text-align: center;

            .red-title {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: $font-weight-black;
                color: $primary;
                font-style: italic;
                margin-bottom: 1em;
            }

            .black-title {
                font-size: 1.5rem;
                font-weight: $font-weight-black;
                color: $nero;
                font-style: italic;
                text-transform: capitalize;
            }
            .sub-title{
            	 font-size: 1rem;
                font-weight: $font-weight-black;
                color: $suvaGrey;
                font-style: italic;
                text-transform: capitalize;
            }

        }

        .information {
            padding: 0 2em 3em;
            p{
            	margin-bottom: 2rem;
            	font-size: 1rem;
            	font-weight: $font-weight-regular;

            }

            strong {
                font-weight: $font-weight-bold;
                color: $nero;
                font-style: italic;
                font-size: 1rem;
            }
            ul{
            	padding-left: 20px;
            }
        }
    }
}