.page-template-careers-template {
    .container-1200 {
        overflow-x: hidden;

    }

    .job-vacancy {

        margin-bottom: 2em;
        padding: 1.5em;
        border-radius: 15px;
        transition: background-color .3s ease;
        transition: box-shadow .3s ease;



        .info {
            color: $nero;

            p {
                margin-bottom: .15em;
            }

            time {
                i {
                    margin-right: .3em;
                }
            }
        }

        .arrow {
            align-self: center;
            opacity: 0;
            transition: opacity .2s ease;

            @keyframes pulse {

                0%,
                100% {
                    right: 0;
                }

                50% {
                    right: -5px
                }
            }

            i {
                font-size: 2rem;
                color: $nero;
                transition: all .3s ease;
            }
        }

        &:hover {
            background-color: rgba($white, 1);
            box-shadow: 0 4px 12px rgba($nero, .25);

            .arrow {
                opacity: 1;
                animation: pulse 1s infinite;

                i {
                    color: $primary;
                }
            }

        }


    }

    a {
        text-decoration: none;
    }

}
.single-job-vacancy {
	.container-1400{
		max-width: 1400px;
		margin: 0 auto;
		overflow-x: hidden;
		padding: 0 1em;
	}

    section {
        width: 100%;
    }

    .cta-link {
        text-decoration: none;
        color: $primary;
        padding: 1em 1.5em;
        background: transparent;
        border: 2px solid $primary;
        font-weight: $font-weight-black;
        transition: all .3s ease;

        i {
            margin-right: .5em;
        }

        &:hover {
            background: $primary;
            color: $white;
        }
    }

    .info {
        .title {
            font-weight: $font-weight-bold;
            font-size: 2rem;
        }
        time{
        	i{
        		margin-right: 5px;
        	}
        }
    }
    .widget-area{
    	padding: 3em 2em;
    	background-color: rgba($white,0.65);
    	box-shadow: 0 4px 12px rgba($nero, .25);
    	@include media-breakpoint-down(md) {
    		display: none;
    	}
    	.title{
    		margin-bottom: 1em;
    		font-weight: $font-weight-bold;
    	}
    	video{
    		margin-bottom: 2em;
    	}
    	p{
    		margin-bottom: 2em;
    	}
    }

}