.page-template-contact-us {
    .map-section {
        overflow: hidden;
        margin: auto -15px 50px;
    }

    .contact-data-page {
        .section-title {
            margin-bottom: 50px;
            text-align: center;

            .title {
                font-weight: $font-weight-bold;
                font-size: 2rem;
                text-transform: uppercase;
                font-style: italic;
            }
        }

    }

    .contact-data-section {
        max-width: 600px;
        margin-left: auto;
        position: relative;


        @include media-breakpoint-up (md) {
            display: flex;
            align-items: center;
        }


        .section-title {
            margin-bottom: 2em;

            .title {
                font-weight: $font-weight-bold;
                font-size: 2rem;
                text-transform: uppercase;
                font-style: italic;
            }
        }

        .contacts-data {
            .contact {
                margin-bottom: 1em;

                .office-title {
                    font-size: 1.2rem;
                    color: $primary;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                }

                .single-contact {
                    margin-bottom: 1em;

                    p {
                        font-style: italic;
                        margin: 0;

                        a {
                            color: $nero;
                            text-decoration: none;
                            transition: all .3s ease;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-form-section {
        @include media-breakpoint-down (md) {
            margin: 0 -15px;
        }

        .contact-from {
            box-shadow: 0 0 20px 0 rgba($nero, 0.05);
            background-color: lighten($ghost-white, 10%);
            padding: 2em;

            @include media-breakpoint-up (md) {
                padding: 4em;
            }

            h3 {
                text-transform: uppercase;
                font-style: italic;
                text-align: center;
                font-size: 1.2rem;
                color: $primary;
                font-weight: $font-weight-bold;
            }

            label {
                margin: 0;
                font-style: italic;

                br {
                    display: none;
                }

                input {
                    background: $white;
                    box-shadow: none;
                    outline: none;
                    border: 0;
                    border-bottom: 3px solid $primary;
                    border-radius: 0;
                    padding: 0;

                    &:hover,
                    &:foucs {
                        box-shadow: none;
                    }
                }
            }

            textarea {
                margin: 2em auto;
                background: $whisper;
                color: $suvaGrey;
                resize: none;
                border-radius: 0;
                font-style: italic;
                box-shadow: none;
                outline: none;
                height: 135px;
                border: none;

                &::placeholder {
                    font-style: italic;
                    color: $suvaGrey;
                }

                &:hover,
                &:foucs {
                    box-shadow: none;
                    outline: none;

                }
            }

        }

        .btn-outline-primary,
        .wpcf7 input[type=submit],
        .btn {
            border-radius: 0;
            border: 2px solid $primary;
            font-weight: $font-weight-bold;
            width: 130px;
            float: right;

            background: $primary;
            color: $white;

            // &:hover {
            //     background: $primary;
            //     color: $white;
            // }
        }
    }
}