.page-template-conferences-template {
	.single-conference {
		padding: 1em;
		margin: .5em;
		transition: all .3s ease;

		&:hover {
			transform: scale(1.025);
		}
	}
}

.single-conference {
	.container-1200{
		overflow: hidden;
		padding-bottom: 3em;
	}


	.nav-tabs {
		border: 0;
		margin-bottom: 2em;

		li {

			a,
			a.active {
				border: 0;
				background: transparent;
			}

			text-transform: uppercase;
			font-weight: $font-weight-bold;
			color: $nero;
			font-style: italic;

			a {
				color: $suvaGrey;

				&.active {
					color: $primary;
				}
			}
		}
	}

	.tab-content {
		@include media-breakpoint-down(md) {
			padding: 0 1em;
		}
	}
}
