.page, 
.post {
    .entry-header {
        margin: 2em 0;
        text-align: center;
        h1{
        	color :$nero;
        	font-weight: $font-weight-regular;
        	text-transform: uppercase;
        	font-style: italic;
        }
    }
    .entry-content{
    	h2{
    		font-size: 1.5rem;
    		font-weight: $font-weight-regular;
    		color: $primary;
    		margin: 1.5em 0;
    		text-align: center;
    		font-style: italic;
    	}
    	p{
    		margin-bottom: 1em;
    	}
    	a{
    		text-decoration: none;
    	}
    	ul{
    		li{
    			margin-bottom: .35em;
    		}
    	}
    }
}