.categories-row {
    text-align: center;

    .menu-faculties-menu-container,
    .menu-faculties-menu-al-container {
        width: 100%;

        .menu {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            list-style: none;

            li {
                background: $suvaGrey;
                width: 100%;
                padding: .65em;
                transition: all .3s ease;
                cursor: pointer;

                &:first-of-type {
                    margin-right: 2.5px;
                }

                &:last-of-type {
                    margin-left: 2.5px;
                }

                a {
                    text-transform: uppercase;
                    color: $white;
                    font-weight: $font-weight-bold;
                    font-size: 1rem;
                    letter-spacing: .5px;
                    text-decoration: none;
                    transition: all .3s ease;
                    display: block;
                    height: 100%;
                    width: 100%;
                }

                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }

                &:hover {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }

                &.current-menu-parent {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

.section-bachelors,
.section-masters {
    overflow: hidden;
    padding: 0 2em;

    .title {
        text-align: center;

        .red-title {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: $font-weight-normal;
            font-style: italic;
            color: $primary;
            letter-spacing: 3px;
        }
    }

    .program-col {
        margin: 1em 0;

        .single-program {
            padding: 3em;
            height: 365px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            box-shadow: 1px 1px 20px 6px rgba($suvaGrey, 0.5);
            transition: all .3s ease;

            .data {
                position: absolute;
                bottom: 0;
                left: 0;
                min-height: 75px;
                padding: .5em 0;
                background: rgba($white, 0.7);
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;

                h3 {
                    text-transform: uppercase;
                    color: $black;
                    font-weight: $font-weight-bold;
                    font-size: 1.25rem;
                    padding: 0 1.25em;
                    transition: all .3s ease;
                }
            }

            &:hover {

                box-shadow: 1px 1px 20px 6px rgba($suvaGrey, 0.7);
                transform: scale(0.985);

                .data {
                    background: rgba($white, 0.8);

                    h3 {
                        color: $venetian-red;
                    }
                }
            }
        }

    }

}

.video-section{
    position: fixed;
    max-width: 500px;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
    .close{
        position: absolute;
        right: .25em;
        top: .25em;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        opacity: 1;
        i{
            font-weight: $font-weight-light;
            color: $white;
        }

    }
    video{
        max-width: 350px;
        z-index: 1;
    }
}