section {
    margin-bottom: 50px;
}

.main-banner {
    height: 100vh;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up (md) {
        margin-top: -85px;
    }

    .carousel-item,
    .video-banner {
        height: 100vh;

        .banner {
            height: 100vh;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: column;

            .title {
                text-align: center;
                color: $white;
                z-index: 1;
                padding: 1em;

                p {
                    text-transform: uppercase;
                    font-size: 4rem;
                    font-weight: 100;
                    letter-spacing: 2.5px;
                    font-style: italic;

                    @include media-breakpoint-down (md) {
                        font-size: 2rem;
                    }
                }

                h2 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: 2px;
                }
            }

            .buttons {
                padding: 1em;
                z-index: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                margin-bottom: 2em;
                flex-wrap: wrap;

                a {

                    text-transform: uppercase;
                    color: $white;
                    font-weight: $font-weight-bold;
                    letter-spacing: 2px;
                    text-decoration: none;
                    background: rgba($white, .25);
                    transition: all .3s ease;
                    flex: 0 49%;
                    padding: 1em 2em;

                    &:nth-child(1) {
                        @include media-breakpoint-up (md) {
                            margin-right: .5em;
                        }

                    }

                    &:nth-child(2) {
                        @include media-breakpoint-up (md) {
                            margin-left: .5em;
                        }
                    }

                    &:last-of-type {

                        flex: 0 100%;

                        @include media-breakpoint-up (md) {
                            margin-top: 1em;
                        }
                    }

                    &:hover {
                        background: $primary;
                        color: $white;
                    }
                }

                @include media-breakpoint-down (md) {
                    a {
                        flex: 0 100%;
                        margin-bottom: 1em;
                    }
                }

            }

            .scroll-down {
                position: absolute;
                bottom: 6.5em;
                left: 50%;
                right: 50%;

                .scroll-down-span {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    margin-left: -12px;
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: rotate(-45deg);
                    animation: sdb05 1.5s infinite;
                    box-sizing: border-box;
                    cursor: pointer;
                }

                @keyframes sdb05 {
                    0% {
                        transform: rotate(-45deg) translate(0, 0);
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        transform: rotate(-45deg) translate(-20px, 20px);
                        opacity: 0;
                    }
                }
            }
        }
    }

    #siteVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    @include media-breakpoint-down (md) {
        #siteVideo {
            display: none;
        }

        .video-thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

}

.why-cit-section {
    .title-why-cit {
        margin: 2em 0;
        text-align: center;

        h1 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            font-style: italic;
        }
    }

    .single-why-cit {
        line-height: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 1em 0;

        .image {
            display: block;

            img {
                max-width: 100%;
                width: 100%;
            }
        }


        h3 {
            font-size: 16px;
            line-height: 26px;
            font-weight: $font-weight-light;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.apply-now-section {
    background: $nero;

    .apply-now {
        padding-top: 4em;
        padding-bottom: 4em;
        align-items: center;
        justify-content: center;
        margin: 0 10%;

        .scholarshiop-text,
        .apply-now-button {
            display: flex;
            align-items: center;

            @include media-breakpoint-down (md) {
                align-items: center;
                justify-content: center;
            }

        }

        h1 {
            float: right;
            margin-right: 3em;
            text-transform: uppercase;
            color: $white;
            font-weight: $font-weight-light;
            font-style: italic;
            font-size: 3rem;
            letter-spacing: 1.5px;

            @include media-breakpoint-down (md) {
                margin-right: 0;
                text-align: center;
                font-size: 2.5rem;
            }
        }

        a {
            font-size: 1rem;
            text-transform: uppercase;
            background: $white;
            padding: 1em 3em;
            text-decoration: none;
            font-weight: $font-weight-bold;
            border-radius: 75px;
            letter-spacing: 1px;
            transition: all .3s ease;

            &:hover {
                color: $white;
                background-color: $primary;
            }

        }
    }
}

.events-section {
    .title-events {
        margin: 1em 0 3em;
        text-align: center;

        h1 {
            &.red-title {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $primary;
            }

            &.black-title {
                font-size: 36px;
                text-transform: uppercase;
                font-weight: $font-weight-regular;
                font-style: italic;
                color: $nero;
                letter-spacing: 2px;

            }

        }

    }

    a {
        text-decoration: none;
        padding: 0 1em;

        .event-post {
            margin: 0 3em;
            border: 1px solid #fff;
            overflow: hidden;
            border-radius: 15px;
            background: $white;
            transition: all .5s linear;

            @include media-breakpoint-down (md) {
                margin: 0 1em;
            }

            .image {
                height: 215px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .info {
                padding: 1em 2em;

                .title {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: $font-weight-bold;
                    color: $nero;
                    min-height: 60px;
                    border-bottom: 1px solid rgba($nero, 0.35);
                }

                .date {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $nero;
                    opacity: 0.65;

                    p {
                        margin: 0;
                        margin-left: .5em;
                    }
                }
            }
        }

        &:hover {
            .event-post {
                box-shadow: 0 0 20px 20px rgba(208, 208, 208, 0.37);
            }
        }
    }

    .see-more {
        margin: 1em auto 0;
        text-align: center;

        a {
            border: 3px solid $primary;
            padding: .5em 1em;
            border-radius: 50px;
            font-weight: $font-weight-black;
            color: $nero;
            font-style: italic;
            text-decoration: none;
            transition: all .3s ease;

            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }

}

.counter-section {
    background: $primary;
    padding: 2em 0;

    .title-counter-boxes {
        margin: 1em 0;
        text-align: center;

        h1 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            font-style: italic;
            color: $white;

            @include media-breakpoint-down (md) {
                font-size: 1.65rem;
            }
        }
    }

    .counters-row {

        .single-counter-values {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 3em 0;
            color: $white;

            @include media-breakpoint-down (md) {
                padding: 0;
            }

            .stats {
                font-size: 46px;
                font-weight: $font-weight-light;
                text-align: center;
                font-style: italic;
                color: $white;
                display: flex;
                flex-direction: column;

                p {
                    margin: 0;
                    margin-left: -5px;
                }

                h3 {
                    font-size: 18px;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;

                }
            }

            .data {
                color: $white;
                text-align: center;
                position: relative;
                top: -2em;

                img {
                    max-width: 120px;
                    width: 100%;
                    max-height: 150px;
                    height: 150px;
                }

                h3 {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;

                    @include media-breakpoint-down (md) {
                        font-size: 14px;
                        position: relative;
                        top: -1.35em;
                    }
                }

            }
        }

    }
}

.testimonial-section {
    overflow: hidden;
    margin-bottom: 40px;
    padding-bottom: 40px;

    .title-testimonial {
        margin: 1em 0 3em;
        text-align: center;

        h1 {
            &.red-title {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                font-style: italic;
                color: $primary;
            }

            &.black-title {
                font-size: 36px;
                text-transform: uppercase;
                font-weight: $font-weight-regular;
                font-style: italic;
                color: $nero;
                letter-spacing: 2px;

            }

        }

    }

    .testimonial-carousel {
        .carousel-item {
            min-height: 315px;
        }

        .information-area {
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 150px;
                border-radius: 50%;
                margin-bottom: 1.5em;
            }

            h3 {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: $font-weight-bold;
                color: $nero;

                &.full-name {
                    font-weight: $font-weight-black;
                    letter-spacing: 3px;
                }

                &.position {
                    opacity: 0.65;
                }
            }
        }

        .description-area {
            display: flex;
            align-items: center;
            font-weight: $font-weight-bold;
            font-style: italic;
        }

        .carousel-indicators {
            bottom: -2em;

            li {

                border: 1px solid $suvaGrey;
                border-radius: 50%;
                overflow: hidden;
                width: 14px;
                height: 14px;

                &.active {
                    .indicator-elem {
                        background: $primary;
                    }

                }

                .indicator-elem {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $suvaGrey;
                    margin: 2px;
                }
            }
        }

        .carousel-control-prev {
            left: -15%;

            .carousel-control-prev-icon {
                width: 18px;
                height: 14px;
                background-image: url('../assets/images/arrow-left.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .carousel-control-next {
            right: -15%;

            .carousel-control-next-icon {
                width: 18px;
                height: 14px;
                background-image: url('../assets/images/arrow-right.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}