.page-template-icon-title {
    .icon-link {
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        transition: all .3s ease;

        img {
            max-width: 180px;
            transition: all .3s ease;

        }

        h3 {
            margin-top: 1em;
            font-weight: $font-weight-bold;
            font-style: italic;
            transition: all .3s ease;
        }

        &:hover {
        	color: $primary;
            img {
                filter: drop-shadow(0 0 10px rgba($venetian-red, 0.35));
            }
            h3{
            	text-shadow: 0 0 10px rgba($venetian-red, 0.35);
            }
        }
    }


}