.news-events-row {
    text-align: center;

.menu-news-events-menu-container,
.menu-news-events-menu-al-container {
        width: 100%;

        .menu {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            list-style: none;

            li {
                background: $suvaGrey;
                width: 100%;
                padding: .65em;
                transition: all .3s ease;
                cursor: pointer;

                &:first-of-type {
                    margin-right: 2.5px;
                }

                &:last-of-type {
                margin-left: 2.5px;
                }

                a {
                    text-transform: uppercase;
                    color: $white;
                    font-weight: $font-weight-bold;
                    font-size: 1rem;
                    letter-spacing: .5px;
                    text-decoration: none;
                    transition: all .3s ease;
                    display: block;
                    height: 100%;
                    width: 100%;
                }

                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }

                &:hover {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }

                &.current-menu-parent {
                    background: $primary;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}