@include media-breakpoint-down (md) {
    .apply-form {
        overflow: hidden;

        .submit {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .top-data,
    .more-data,
    .bottom {
        flex-direction: column !important;
        .faculty-data .faculties{
            margin-left: 0 !important;
        }

        label {
            margin: 0 !important;
        }
    }
}
.description{
    margin-top: 2em;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    width: 100%;
    margin: 5em auto;
    border-radius: 5px;
    box-shadow: 0 0 40px 3px rgba($suvaGrey, 0.5);
    overflow: hidden;

    .form-title {
        width: 100%;
        text-align: center;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        .form-reply-title {
            display: none;
        }

        p {
            color: $white;
            font-weight: $font-weight-bold;
            margin: 0;
            font-style: italic;
        }

    }

    .contact-form {
        .wpcf7 {
            max-width: 100%;
            padding: 0 1em;
        }

        .apply-form {
            display: flex;
            flex-direction: column;

            .top-data,
            .more-data,
            .bottom {
                display: flex;
                flex-direction: row;
                padding: 1em 0;
                position: relative;

                label {
                    margin: 0 2em;
                    font-weight: $font-weight-bold;
                    overflow: hidden;
                    font-style: italic;

                    input[type=text],
                    input[type=email], 
                    input[type=number] {
                        margin-bottom: .5em;
                        border: none;
                        border-radius: 0;
                        background-color: transparent;
                        border-bottom: 3px solid $primary;
                        transition: all .3s ease;

                        &:hover,
                        &:focus {
                            outline: none;
                            box-shadow: 0 2px 10px 0px rgba($primary, 0.5);

                        }
                    }
                }
            }

            .top-data {
                padding-top: 3em;
            }

            .more-data {}

            .bottom {
                display: flex;
                flex-direction: row;
                padding-bottom: 3em;

                .faculty-data {
                    width: 100%;
                    padding-bottom: 1em;

                    label {
                        color: $primary;
                        font-weight: $font-weight-regular;


                    }

                    .faculties {
                        margin-left: 1em;


                        .wpcf7-checkbox {
                            @include custom-checkbox;
                        }
                    }

                    span {
                        text-transform: uppercase;
                        font-weight: $font-weight-regular;
                        font-style: italic;
                        font-size: 1rem;
                        display: flex;
                        margin-left: 0;
                        height: 20px;
                    }
                }
            }

            .submit {
                display: flex;
                align-items: flex-end;

                input[type=submit] {
                    width: 130px;
                    height: 50px;
                    border-radius: 25px;
                    border: 2px solid $primary;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    transition: all .3s ease;

                    &:hover,
                    &:focus {
                        box-shadow: none;
                        color: $white;
                    }
                }

            }

        }
    }
}

.form-reply {
    padding: 1em 3em 3em;
    text-align: center;
    height: 0;
    opacity: 0;

    .response {
        .title {
            color: $primary;
            font-weight: $font-weight-regular;
            font-size: 1rem;
            font-style: italic;
        }

        p {
            font-weight: $font-weight-bold;
            font-style: italic;
        }
    }

    .cta-area {
        margin-top: 2em;

        h2 {
            font-weight: $font-weight-light;
            font-style: italic;
        }

        .cta-heading {
            color: $primary;

            font-size: 2.25rem;
        }

        .cta-sub-heading {
            color: $nero;
            font-weight: $font-weight-light;
            font-size: 1.35rem;
            margin-bottom: 2em;
        }

        .cta-link {
            text-decoration: none;
            border: 2px solid $primary;
            color: $nero;
            font-weight: $font-weight-bold;
            padding: .25em 1.75em;
            border-radius: 25px;
            font-style: italic;
        }

    }
}

