.search-results,
.search-no-results {
    .title {
        margin: 2em 0;
        padding: 1em;
        text-align: center;

        h1 {
            color: $primary;
            font-weight: $font-weight-light;
            font-style: italic;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }

    form {
        margin-bottom: 3em;
    }

    .site-main {
        padding: 0 1em;
    }

    .page-title {
        margin-bottom: 1.5em;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    article {
        margin-bottom: 2em;

        .entry-header {
            color: $primary;

            h2 {

                font-size: 1rem;

                a {
                    font-weight: $font-weight-bold;

                    text-decoration: none;
                }
            }
        }

        .entry-summary {

            p {
                font-size: 1rem;
                font-style: italic;

                a {
                    color: $eclipse;
                    text-decoration: none;
                }
            }

        }
    }

}

.search-no-results {
    .col-12>#searchform {
        display: none;
    }

    .page-header {
        display: none;
    }
}