      .single-news,
      .single-event {
            .container-1600 {
                  // overflow: hidden;
                  max-width: 1200px;

                  &.header-1600 {
                        max-width: auto;
                  }

                  @include media-breakpoint-down (md) {
                        overflow: visible;
                  }
            }

            .section {
                  @include media-breakpoint-down (md) {
                        margin-bottom: 15px;
                  }
            }

            .top-info-row {
                  .image {
                        height: 400px;
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                  }

                  .data {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        height: 100%;
                        padding: 1em;

                        h1 {
                              font-size: 3rem;
                              text-transform: uppercase;
                              font-style: italic;
                              letter-spacing: 10px;
                              line-height: 6rem;

                              @include media-breakpoint-down (md) {
                                    font-size: 2rem;
                                    line-height: 2rem;
                              }

                              @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                                    font-size: 3.25rem;
                              }
                        }

                        h2 {
                              font-size: 3rem;
                              font-style: italic;
                              font-weight: $font-weight-normal;
                              text-transform: uppercase;
                        }

                        .black {
                              color: $nero;
                              font-weight: $font-weight-normal;
                        }

                        .red {
                              color: $primary;
                              font-weight: $font-weight-bold;
                        }

                        .date {
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              color: $nero;
                              opacity: 0.65;
                              position: absolute;
                              bottom: 0;

                              p {
                                    margin: 0;
                                    margin-left: .5em;
                              }

                              @include media-breakpoint-down (md) {
                                    position: relative;
                              }
                        }

                        @include media-breakpoint-down (md) {
                              padding: 0;
                              margin-top: 1em;
                        }

                  }
            }

            .description-info-row {
                  p {
                        margin: 0;
                        font-weight: $font-weight-regular;
                        font-size: 1rem;
                  }

                  b {
                        font-weight: $font-weight-bold;
                  }

                  h1 {
                        font-size: 2rem;
                  }

                  h2 {
                        font-size: 1.8rem;
                  }

                  h3 {
                        font-size: 1.6rem;
                  }

                  h4 {
                        font-size: 1.4rem
                  }

                  h5 {
                        font-size: 1.2rem;
                  }

                  h6 {
                        font-size: 1rem;
                  }

                  h1,
                  h2,
                  h3,
                  h4,
                  h5,
                  h6 {
                        font-weight: $font-weight-bold;
                        color: $primary;
                  }

                  ul,
                  ol {
                        // padding: 0;
                        // margin: 0;
                  }
            }

            .details-row {
                  margin-bottom: 30px;
                  padding: 0 6em;

                  @include media-breakpoint-down (md) {
                        padding: 0;
                  }

                  .single-detail {
                        padding: 1em;
                        cursor: pointer;

                        @include media-breakpoint-down (md) {
                              padding: 0;
                        }

                        a {
                              text-decoration: none;
                        }

                        .detail {
                              max-width: 240px;
                              max-height: 220px;
                              display: flex;
                              flex-direction: column;
                              align-items: center;
                              text-align: center;
                              margin: 1em auto 1em;
                              padding: 1em;
                              transition: all .3s ease;

                              img {
                                    height: 120px;
                                    width: auto;
                              }

                              p {
                                    margin: 0;
                                    text-transform: uppercase;
                                    font-style: italic;
                                    font-weight: $font-weight-bold;

                              }

                              .title {
                                    margin-top: .75em;
                                    color: $nero;
                                    font-size: 1.25rem;
                              }

                              .sub-title {
                                    color: $primary;
                                    font-size: 1rem;
                              }

                        }

                        @include media-breakpoint-up (md) {

                              &:hover {
                                    .detail {
                                          box-shadow: 0 0 15px 1px rgba($primary, 0.5);
                                          border: 1px solid rgba($primary, 0.35);
                                    }
                              }
                        }
                  }
            }

            .section-carousel {
                  text-align: center;
                  margin-bottom: 50px;

                  p {
                        font-weight: $font-weight-black;
                        color: $nero;
                        font-style: italic;
                        font-size: 1.2rem;
                  }

                  .image {
                        max-height: 250px;
                        overflow: hidden;

                        img {
                              max-height: 250px;
                              width: auto;
                        }
                  }
            }

            .more-data,
            .see-more {
                  text-align: center;
                  margin-bottom: 50px;

                  a {
                        border: 3px solid $primary;
                        padding: .5em 1em;
                        border-radius: 50px;
                        font-weight: $font-weight-black;
                        color: $nero;
                        font-style: italic;
                        font-style: 1.2rem;
                        text-decoration: none;
                        transition: all .3s ease;

                        &:hover {
                              background: $primary;
                              color: $white;
                        }
                  }

            }

            .modal {
                  z-index: 9999999;

                  .modal-header {
                        border: 0;
                        text-align: center;
                        font-style: italic;
                        background: $primary;
                        color: $white;
                        font-weight: $font-weight-bold;
                        justify-content: flex-start;
                        /* adjustment */


                        .modal-title {
                              position: absolute;
                              /* new */
                              left: 50%;
                              transform: translateX(-50%);
                        }

                        .close {
                              flex: 0 1 auto;
                              margin-left: auto;
                              color: $white;
                              transition: all .3s ease;

                              &:hover {
                                    color: $white;
                                    opacity: 1;
                              }
                        }
                  }

                  .wpcf7 {
                        max-width: 100%;
                        padding: 2em;

                        @include media-breakpoint-down(md) {
                              padding: .5em .25em;
                        }

                        .personal-data,
                        .parent-data,
                        .school-data,
                        .contact-data,
                        .bottom {

                              p {
                                    display: flex;
                                    flex-wrap: wrap;

                                    :nth-child(n) {
                                          flex: 1 0 42.5%;
                                          width: 80%;

                                          @include media-breakpoint-down(md) {
                                                flex: 0 100%;
                                                margin: 0 auto;
                                                width: 99%;
                                                margin-top: 1em;
                                          }
                                    }

                                    margin-bottom: 5em;
                              }

                              h3 {
                                    font-weight: $font-weight-bold;
                                    font-size: 1.5rem;
                                    font-style: italic;
                                    margin: 0;
                              }

                              label {
                                    font-weight: $font-weight-bold;
                                    overflow: hidden;
                                    font-style: italic;

                                    input[type=text],
                                    input[type=email],
                                    input[type=number] {
                                          margin-bottom: .5em;
                                          border: none;
                                          border-radius: 0;
                                          background-color: transparent;
                                          border-bottom: 3px solid $primary;
                                          transition: all .3s ease;

                                          &:hover,
                                          &:focus {
                                                outline: none;
                                                box-shadow: 0 0 5px 0px rgba($primary, 0.5);

                                          }
                                    }
                              }

                              .wpcf7-form-control-wrap.your-gender {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    width: 80%;

                                    span {
                                          margin: 0;
                                          padding: .25em;
                                          text-align: center;
                                          font-weight: $font-weight-bold;
                                    }
                              }

                              .wpcf7-radio {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    max-width: 80%;
                                    position: relative;
                                    top: .35em;


                                    .wpcf7-list-item {
                                          margin: 0;
                                          background: $white;
                                          color: $primary;
                                          padding: 0;
                                          transition: all .3s ease;
                                          border: 3px solid $primary;
                                          cursor: pointer;

                                          &.active {
                                                color: $white;
                                                background-color: $primary;
                                          }

                                          &.first {
                                                border-right: 1.5px solid $primary;
                                                position: relative;
                                          }

                                          &.last {
                                                border-left: 1.5px solid $primary;
                                                position: relative;
                                          }



                                          label {
                                                margin: 0;
                                                cursor: pointer;
                                          }

                                          input {
                                                padding: 1em;
                                                height: 25px;
                                                width: 100%;
                                                position: absolute;
                                                left: 0;
                                                opacity: 0;
                                                cursor: pointer;
                                          }
                                    }

                              }

                              .wpcf7-checkbox {
                                    @include custom-checkbox;

                                    .wpcf7-list-item {
                                          position: relative;

                                          input {
                                                position: absolute !important;
                                                width: 100% !important;
                                                left: 0 !important;
                                          }

                                    }
                              }

                              .faculty-data {
                                    margin-bottom: 2em;

                                    @include media-breakpoint-up (md) {
                                          .wpcf7-form-control-wrap {
                                                position: relative;
                                                left: -1em;
                                          }
                                    }

                              }

                              textarea {
                                    margin-top: 1em;
                                    border: 3px solid $primary;
                                    border-radius: 0;
                                    resize: none;

                                    &:hover,
                                    &:focus {
                                          box-shadow: none;
                                          outline: none;
                                    }
                              }

                              .submit {
                                    position: relative;
                                    top: 2em;
                                    text-align: center;

                                    input[type="submit"] {
                                          border: 3px solid $primary;
                                          padding: .5em 1em;
                                          border-radius: 50px;
                                          font-weight: $font-weight-black;
                                          color: $nero;
                                          font-style: italic;
                                          text-decoration: none;
                                          transition: all .3s ease;
                                          max-width: 120px;
                                          line-height: 1;

                                          &:hover {
                                                background: $primary;
                                                color: $white;
                                          }
                                    }
                              }


                        }
                  }
            }

            .menu-news-events-menu-container,
            .menu-news-events-menu-al-container {
                  width: 100%;

                  .menu {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        list-style: none;

                        li {
                              background: $suvaGrey;
                              width: 100%;
                              padding: .65em;
                              transition: all .3s ease;
                              cursor: pointer;

                              &:first-of-type {
                                    margin-right: 2.5px;
                              }

                              &:last-of-type {
                                    margin-left: 2.5px;
                              }

                              a {
                                    text-transform: uppercase;
                                    color: $white;
                                    font-weight: $font-weight-bold;
                                    font-size: 1rem;
                                    letter-spacing: .5px;
                                    text-decoration: none;
                                    transition: all .3s ease;
                                    display: block;
                                    height: 100%;
                                    width: 100%;
                              }

                              &.current-menu-item {
                                    a {
                                          color: $primary;
                                    }
                              }

                              &:hover {
                                    background: $primary;

                                    a {
                                          color: $white;
                                    }
                              }

                              &.current-menu-parent {
                                    background: $primary;

                                    a {
                                          color: $white;
                                    }
                              }
                        }
                  }
            }

      }