.single-program {
    .container-1600 {
        overflow: hidden;
        max-width: 1600px;
        &.header-1600{
            overflow: visible;
        }
    }

    .section {
        @include media-breakpoint-down (md) {
            margin-bottom: 15px;
        }
    }

    .top-info-row {
        .image {
            height: 400px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .data {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            padding: 1em;

            h1 {
                font-size: 2.5rem;
                text-transform: uppercase;
                font-style: italic;
                letter-spacing: 0px;
                line-height: 4rem;

                @include media-breakpoint-down (md) {
                    font-size: 2rem;
                    line-height: 2rem;
                }

                @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
                    font-size: 3.25rem;
                }
            }

            .black {
                color: $nero;
                font-weight: $font-weight-normal;
            }

            .red {
                color: $primary;
                font-weight: $font-weight-bold;
            }

            @include media-breakpoint-down (md) {
                padding: 0;
                margin-top: 1em;
            }

        }

    }

    .description-info-row {
        p {
            margin: 0;
            font-weight: $font-weight-bold;
            font-size: 1rem;

        }
    }

    .details-row {
    	margin-bottom: 30px;
        padding: 0 6em;

        @include media-breakpoint-down (md) {
            padding: 0;
        }

        .single-detail {
            padding: 1em;
            cursor: pointer;

            @include media-breakpoint-down (md) {
                padding: 0;
            }

            a {
                text-decoration: none;
            }

            .detail {
                max-width: 240px;
                max-height: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 1em auto 1em;
                padding: 1em;
                transition: all .3s ease;

                img {
                    height: 120px;
                    width: auto;
                }

                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: $font-weight-bold;

                }

                .title {
                    margin-top: .75em;
                    color: $nero;
                    font-size: 1.25rem;
                }

                .sub-title {
                    color: $primary;
                    font-size: 1rem;
                }

            }

            @include media-breakpoint-up (md) {

                &:hover {
                    .detail {
                        box-shadow: 0 0 15px 1px rgba($primary, 0.5);
                        border: 1px solid rgba($primary, 0.35);
                    }
                }
            }
        }
    }

    .apply-now-row {
        text-align: center;
        margin-bottom: 50px;

        a {
            border: 3px solid $primary;
            padding: .5em 1em;
            border-radius: 50px;
            font-weight: $font-weight-black;
            color: $nero;
            font-style: italic;
            font-style: 1.2rem;
            text-decoration: none;
            transition: all .3s ease;

            &:hover {
                background: $primary;
                color: $white;
            }
        }

    }
}