.tax-staff-faculties,
.page-template-administrative-staff {
    background: $white;

    .staff-menu-row {

        .menu-staff-menu-container,
        .menu-staff-menu-al-container {
            width: 100%;

            .menu {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                list-style: none;

                @include media-breakpoint-down (md) {
                    flex-direction: column;
                }

                li {
                    background: $suvaGrey;
                    width: 100%;
                    padding: .65em;
                    transition: all .3s ease;
                    cursor: pointer;
                    text-align: center;

                    &:first-of-type {
                        margin-right: 2.5px;

                        @include media-breakpoint-down (md) {
                            margin-right: 0;
                        }
                    }

                    &:last-of-type {
                        margin-left: 2.5px;

                        @include media-breakpoint-down (md) {
                            margin-left: 0;
                        }
                    }

                    a {
                        text-transform: uppercase;
                        color: $white;
                        font-weight: $font-weight-bold;
                        font-size: 1rem;
                        letter-spacing: .5px;
                        text-decoration: none;
                        transition: all .3s ease;
                        display: block;
                        height: 100%;
                        width: 100%;
                    }

                    &.current-menu-item {
                        background: $primary;

                        a {
                            color: $white;
                        }
                    }

                    &:hover {
                        background: $primary;

                        a {
                            color: $white;
                        }
                    }

                    &.current-menu-parent {
                        background: $primary;

                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    overflow-x: hidden;

    .staff-section {
        margin: 0 -30px;

        .staff-row {
            padding: 25px 0;
            max-width: 1600px;
            margin: 0 auto;

            &.rectors-row {
                padding-top: 50px;
            }


            .persona {
                transition: all .3s ease;
                margin-bottom: 2em;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                overflow: hidden;


                &:hover {
                    box-shadow: 0 0 10px 1px rgba($eclipse, 0.5);

                    @include media-breakpoint-down (md) {
                        box-shadow: none;
                    }
                }
                .col-lg-5{
                    padding: 0;
                }

                .img-col{
                    padding: 0;
                    overflow: hidden;
                }

                img {
                    width: 105%;
                }

                .title {
                    margin: 0;

                    @include media-breakpoint-down (md) {
                        font-size: 2rem;
                    }
                }

                .position-description {
                    margin-bottom: 1em
                }

                p {
                    margin: 0;
                }

                .data {
                    display: flex;
                    flex-direction: column;

                        margin-top: 1em;
                    

                    .position-title {
                        font-size: 1rem;
                        font-weight: $font-weight-bold;

                        @include media-breakpoint-down (md) {
                            font-size: 1.5rem;
                        }
                    }

                    .position-description {
                        margin-bottom: .5em;
                    }

                    .contact {
                        p {
                            font-weight: bold;
                        }

                        a {
                            color: $nero;
                            font-weight: $font-weight-light;
                            text-decoration: none;
                            transition: all .3s ease;

                            &:hover {
                                color: $primary;
                            }
                            i{
                                margin-right: 5px;
                            }
                        }
                    }

                    .social-links {
                        position: absolute;
                        bottom: 0;

                        @include media-breakpoint-down (md) {

                            margin-top: .5em;
                        }

                        @media screen and (max-width: 1024.98px) {
                            position: relative;
                        }

                        a {
                            color: $nero;
                            transition: all .3s ease;

                            i {
                                font-size: 2rem;
                                margin-right: .5em;

                                @include media-breakpoint-down (md) {
                                    font-size: 1.75rem;
                                }
                            }

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }

            .persona-lecturer {
                margin: 0 auto 2em;
                display: flex;
                flex-direction: column;
                transition: all .3s ease;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
                overflow: hidden;

                @include media-breakpoint-down (sm) {
                    padding: 15px 50px;
                }

                &:hover {
                    @include media-breakpoint-up (md) {

                        box-shadow: 0 0 10px 2px rgba($nero, 0.25);
                    }
                }

                img {
                    max-width: 100%;
                }

                .data {
                    text-align: left;
                    padding: 1em;

                    .title {
                        font-size: 1.5rem;
                        margin-bottom: .25em;
                    }

                    .position-title {
                        margin-bottom: 0;
                    }

                    .position-description {
                        margin-bottom: 0;
                    }

                    .contact {
                        display: flex;
                        flex-direction: column;

                        a {
                            color: $nero;
                            text-decoration: none;
                            transition: all .3s ease;

                            &:hover {
                                color: $primary;
                            }
                        }

                        i {
                            margin-right: .5em;
                        }
                    }

                    .social-links {
                        i {
                            color: $nero;
                            font-size: 1.5rem;
                            transition: all .3s ease;
                            margin-right: .25em;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }

                }
            }
        }
    }

    .section-administrative-staff {
        .staff-row {
            .persona-administration {
                margin: 1em;
                overflow: hidden;
                background-color: $white;
                border-radius: 25px;
                transition: all .3s ease;
                min-height: 170px;
                max-width: 500px;

                @include media-breakpoint-down(md) {
                    border-radius: 0;
                }

                &:hover {
                    box-shadow: 0 0 10px rgba($nero, 0.25);
                }

                .persona-image {
                    height: 120%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: -1em;
                    min-height: 190px;

                    @include media-breakpoint-down(md) {
                        height: 450px;
                    }
                }

                p {
                    margin: 0;
                }

                a {
                    margin: 0;
                }

                .data {
                    @include media-breakpoint-down(md) {
                        height: 220px;
                        position: relative;
                        top: 2em;
                    }
                }

                .position-title {
                    font-size: 1.5rem;
                    font-style: italic;
                    font-weight: $font-weight-regular;
                }

                .title {
                    font-size: 1.85rem;
                    font-weight: $font-weight-bold;
                    margin: .25em 0;
                }

                .contact {
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                    }

                    i {
                        margin-right: .25em;
                    }
                }

                .social-links {
                    i {
                        font-size: 1.75rem;
                        margin-right: .25em;
                    }
                }
            }
        }
    }
}

.page-template-administrative-staff {
    background: rgba($whisper, 0.1);
}