@mixin custom-checkbox {

    /* Base for span styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: relative;
        height: 20px;
        width: 20px;
        left: 20px;
        z-index: 2;
        opacity: 0;
    }

    [type="checkbox"]:not(:checked)+span,
    [type="checkbox"]:checked+span {
        position: relative;
        padding-left: 1.95em;
        

    }

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        span {
            &:before {
                border: 2px solid $primary;

            }
        }
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+span:before,
    [type="checkbox"]:checked+span:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1.25em;
        height: 1.25em;
        border: 2px solid $suvaGrey;
        background: #fff;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+span:after,
    [type="checkbox"]:checked+span:after {
        content: '\f00c';
        position: absolute;
        top: -2px;
        left: 0;
        font-size: 1.5em;
        line-height: .8;
        color: #e2001a;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-family: FontAwesome;
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+span:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="checkbox"]:checked+span:after {
        opacity: 1;
        transform: scale(1);
    }

    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked)+span:before,
    [type="checkbox"]:disabled:checked+span:before {
        box-shadow: none;
        border-color: $suvaGrey;
        background-color: transparent;
    }

    [type="checkbox"]:disabled:checked+span:after {
        color: #999;
    }

    [type="checkbox"]:disabled+span {
        color: #aaa;
    }

    /* hover style just for information */
    span:hover:before {
        border: 2px solid $primary !important;
    }
}