#wrapper-footer {
    padding: 0;
    overflow: hidden;
    margin-top: 10em;
}

.site-footer {
    background: $nero;
    margin: 0 -15px;
    padding: 4em 3em;

    @include media-breakpoint-down(md) {
        padding: 4em 1em;
    }

    .container-1400 {
        max-width: 1400px;
        margin: 0 auto;
    }

    .main-footer {
        padding: 0;
        display: flex;
        align-items: flex-start;

        @include media-breakpoint-down(md) {
            padding: 0 1em;
        }

        .footer-single-col.middle-col {
            @include media-breakpoint-down (md){
                margin-bottom: 1em;
            }
        }

        .logo {
            display: flex;
            align-items: flex-end;
            position: relative;

            @include media-breakpoint-up(lg) {
                height: 175px;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 2em;
            }

            img {
                max-width: 400px;
                position: relative;
                width: 100%;
                top: 1em;
            }
        }
    }

    .menu-middle-col {
        align-items: flex-end;
        position: relative;
        height: 175px;

        @include media-breakpoint-up(lg) {
            max-width: 300px;
            margin-left: auto;

        }


        ul {
            margin: 0;
            padding: 0;

            li {
                font-size: 1rem;
                list-style-type: none;

                a {
                    color: $suvaGrey;
                    text-decoration: none;
                    transition: all .3s ease;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @include media-breakpoint-down(md) {
            margin-bottom: 2em;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            font-size: 1rem;
            color: $suvaGrey;
            transition: all .3s linear;
            margin-bottom: .5em;

            &:hover {
                color: $primary;
            }

            i {
                font-weight: $font-weight-bold;
                font-size: 1.25rem;
                color: $primary;
                text-align: center;
                min-width: 30px;
            }
        }

        h4 {
            position: relative;

            @include media-breakpoint-up(lg) {
                left: 80px;
            }
        }
    }

    h4 {
        font-weight: $font-weight-bold;
        color: $primary;
        position: relative;
        margin-top: 1em;
    }
}

.bottom-footer {
    margin-top: 0;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        padding: 0 1em;
    }

    .slogan-text {
        text-transform: uppercase;
        color: $primary;
        font-weight: $font-weight-black;
        font-style: italic;
        position: relative;
        font-size: 1.25rem;
    }

    .follow-us {
        position: relative;
        color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.15rem;

        @include media-breakpoint-up(lg) {
            left: 20px;
        }

        a {
            color: $white;
            margin: 0 .25em;
            font-size: 1.35rem;

            i {
                color: $white;

                &:hover {
                    color: $primary;
                }
            }

            &:first-of-type {
                margin-left: .75em;
            }
        }
    }
}

.to-top {
    display: none;
    position: relative;

    .back-to-top {
        position: fixed;
        background: rgba($white, 0.75);
        box-shadow: 0 0 2px 0px rgba($nero, 0.25);
        padding: .85em 1em;
        right: 2em;
        bottom: 2em;
        z-index: 9999;
        color: $primary;
        transition: all .3s ease;

        &:hover {
            background: $primary;
            color: $white;
            box-shadow: 0 0 1px 1px rgba($primary, 0.35);
        }

    }
}

.side-strip {
    @include media-breakpoint-down(md) {
        display: none;
    }

    position: fixed;
    top: 35%;
    right: 2em;
    z-index: 2;

    .side-strip-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            text-align: center;
            margin: 1em 0;
            background: rgba(255, 255, 255, .25);
            border-radius: 150px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
            overflow: hidden;

            a {
                transition: all .3s ease;
                color: $nero;
                font-size: 1.5rem;
                padding: 1em;

                i {
                    &.custom-icon {
                        &:before {
                            content: '\f00d ';
                            font-family: 'FontAwesome';
                        }

                    }
                }
            }

            &:hover {
                box-shadow: 0 0 3px 3px rgba($primary, 0.35);
                background: rgba(255, 255, 255, .85);

                a {
                    color: $primary;
                }
            }

            &.active {
                box-shadow: 0 0 3px 3px rgba($primary, 0.35);
                background: rgba(255, 255, 255, .85);

                a {
                    color: $primary;
                }
            }
        }

        .hide {
            visibility: hidden;
            opacity: 0;
        }
    }

    .map-area,
    .contact-form {
        position: absolute;
        right: -1500px;
        transform: translateY(0%);
        top: 0;
        width: 350px;
        height: 400px;
        box-shadow: 0 0 25px 0px rgba($venetian-red, 0.35);
        background: $white;
        transition: all .3s ease;
        padding: 1em;

        &.show {
            right: 75px;
        }
    }

    .search-area {
        position: absolute;
        width: 250px;
        top: 1.75em;
        right: -1500px;
        transition: all .3s ease;

        &.show {
            right: 75px;
        }
    }

    .map-area {
        transform: translateY(-25%);

        &.show {
            padding: 0;

            &:hover {
                .map-marker {
                    animation-name: bounce;
                }
            }
        }

        .map-marker {
            position: absolute;
            bottom: 35%;
            right: 30%;
            max-width: 75px;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @keyframes bounce {

            0%,
            100%,
            20%,
            50%,
            80% {
                transform: translateY(0)
            }

            40% {
                transform: translateY(-7.5%)
            }

            60% {
                transform: translateY(-3.75%)
            }
        }

        .cta-link {
            background: $primary;
            width: 100%;
            text-align: center;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: $white;
                font-weight: $font-weight-bold;
                text-decoration: none;

            }
        }
    }

    .contact-form {
        padding: 2em;
        transform: translateY(-15%);

        .btn,
        .wpcf7 input[type=submit] {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0;
            background: $primary;
            color: $white;
            font-weight: $font-weight-bold;
        }

        .sticky-contact-from {

            margin-top: -1em;

            h3 {
                font-weight: $font-weight-bold;
                color: $primary;
                font-style: italic;
                font-size: 1.25rem;
            }

            label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
                height: 32px;
                font-style: italic;
                font-size: 14px;

                br {
                    display: none;
                }

                input {
                    box-shadow: none;
                    outline: none;
                    height: 22.5px;
                    border: 0;
                    border-bottom: 3px solid $primary;
                    border-radius: 0;
                    padding: 0;

                    &:hover,
                    &:foucs {
                        box-shadow: none;
                    }
                }
            }

            textarea {
                background: $whisper;
                color: $suvaGrey;
                height: 110px;
                resize: none;
                border-radius: 0;
                font-style: italic;

                &::placeholder {

                    font-style: italic;
                    color: $suvaGrey;
                }
            }





        }
    }
}