      header {
            transition: all 0.3s ease-in;
      }


      .bg-primary {
            background-color: transparent !important;
            z-index: 1;
            height: 85px;
            padding-top: 2em;

            @include media-breakpoint-down (md) {
                  background-color: $nero !important;
                  z-index: 3;
                  height: 85px;
                  padding-top: 0;
                  position: relative;
            }


            .navbar-nav {
                  li {
                        a {
                              text-transform: uppercase;
                              font-weight: $font-weight-black;
                              letter-spacing: 1px;
                              font-size: 12px;
                              line-height: 28px;

                              &.nav-link {
                                    color: $white;

                                    &:foucs,
                                    &:active {
                                          color: $primary;
                                    }
                              }
                        }

                        &.wpml-ls-item {
                              opacity: 0.5;

                              &.wpml-ls-current-language {
                                    opacity: 1;

                                    a {
                                          color: $primary;
                                    }
                              }

                              @include media-breakpoint-down (md) {
                                    padding: 0;
                              }

                              &:not(:last-of-type) {
                                    margin-left: 2em;

                                    @include media-breakpoint-down (md) {
                                          margin: 0;
                                    }

                                    a {
                                          position: relative;

                                          @include media-breakpoint-down (md) {
                                                color: lighten($primary, 20%);
                                          }

                                          &:after {
                                                content: '';
                                                display: inline-block;
                                                height: 12px;
                                                width: 1.5px;
                                                background: $white;
                                                position: absolute;
                                                right: -7.5px;
                                                bottom: 15px;

                                                @include media-breakpoint-down (md) {
                                                      background: none;
                                                }
                                          }


                                    }
                              }

                              padding: 0 0.5em;
                        }

                        &.current-item {
                              a {

                                    &.nav-link {
                                          color: $primary;
                                    }
                              }
                        }

                        a.dropdown-toggle {
                              display: flex;

                              @include media-breakpoint-up (md) {

                                    align-items: center;
                                    justify-content: center;
                              }


                              &:after {
                                    border: none !important;
                                    background: none !important;
                                    content: '\f107';
                                    font-family: 'FontAwesome';
                                    right: 0;
                                    bottom: 0;
                              }
                        }

                        .dropdown-menu {
                              top: 62px;
                              border: 0;
                              border-radius: 0;
                              background: $nero;

                              li {
                                    a {
                                          color: $white;

                                          &:hover,
                                          &:focus,
                                          &:focus-within,
                                          &:active {
                                                color: $primary;
                                                background: $white;
                                          }

                                          &:after {
                                                display: none;
                                          }
                                    }
                              }

                        }

                        &.show {
                              a {
                                    &:after {
                                          border: none !important;
                                          background: none !important;
                                          content: '\f106';
                                          font-family: 'FontAwesome';
                                          right: 0;
                                          bottom: 0;
                                    }
                              }
                        }
                  }
            }

            &.scrolled {
                  background-color: $nero !important;
                  position: fixed;
                  overflow: visible;
                  z-index: 9999;
                  display: flex;
                  width: 100%;
                  padding: 0;
                  top: 0;
                  left: 0;
                  animation: smoothScroll 1s forwards;

                  .custom-logo-link {
                        img {
                              filter: brightness(0) invert(1);
                        }
                  }
            }

            @keyframes smoothScroll {
                  0% {
                        transform: translateY(-40px);
                  }

                  100% {
                        transform: translateY(0px);
                  }
            }

            #navbarNavDropdown {
                  @include media-breakpoint-down (sm) {
                        position: absolute;
                        top: 4em;
                        left: 0;
                        padding: 1em;
                        background: rgba($nero, 0.8);
                        width: 100%;
                        height: 100vh;
                  }
            }

            &.navbar-dark {
                  .active>.nav-link {
                        color: $primary;
                  }
            }
      }

      .navbar-brand {
            @include media-breakpoint-down (md) {
                  padding: 0;
                  margin: 0;
                  left: -1em;
                  position: relative;
            }

      }

      .navbar-toggler {
            @include media-breakpoint-down (md) {
                  border: 0;
                  outline: none;
                  margin-left: auto;

                  &:hover,
                  &:focus {
                        outline: none;
                  }
            }

      }

      .custom-logo-link {
            img {
                  width: 225px;
                  padding: 1em;

                  @include media-breakpoint-down (md) {
                        max-width: 55%;
                        margin-left: 2em;
                        padding: 0;
                  }
            }
      }


      .bg-different {
            background-color: $nero !important;
            z-index: 3;
            height: 85px;
            padding: 2em 0;
            position: relative;
            overflow: visible;


            @include media-breakpoint-down (md) {
                  overflow: visible;
            }
      }